@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    margin: 0;
    list-style: none;
}
body{
    // background-color: var(--background-body);
    font-size: var(--font-size);
    font-weight: var(--font-regular);
    font-family: 'Montserrat', sans-serif;
    // height: 10000px;    
    color: #FEFAE0;
    background-color: #283618;
}
// .container-fluid{
//     width: 100%;
//     padding: 0 var(--container-offset);

// }
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1340px;
    
}
